<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>CandieConverter</title>
	<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />

</head>

<body>
	@RenderBody()

	<script src="~/lib/jquery/dist/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"
		asp-append-version="true">
		</script>
	<script src="~/js/CLDRPluralRuleParser.js"></script>
	<script src="~/lib/jquery.i18n/jquery.i18n.js"></script>
	<script src="~/lib/jquery.i18n/jquery.i18n.messagestore.js"></script>
	<script src="~/lib/jquery.i18n/jquery.i18n.fallbacks.js"></script>
	<script src="~/lib/jquery.i18n/jquery.i18n.language.js"></script>
	<script src="~/lib/jquery.i18n/jquery.i18n.parser.js"></script>
	<script src="~/lib/jquery.i18n/jquery.i18n.emitter.js"></script>
	<script src="~/lib/jquery.i18n/jquery.i18n.emitter.bidi.js"></script>
	<script src="~/js/queue.js" asp-append-version="true"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
