@page
@model IndexModel
@{



	ViewData["Title"] = "Home page";
}

<div class="header-container-wrapper">
	<div class="header-container">
		<div class="custom-header-bg">
			<div class="page-center">
				<div class="logo" data-i18n="title">Candie Converter</div>
				<div class="navigation">
					<ul>
						<li>
							<select id="languageSelector" name="language" id="language">
								<option value="tr">TR</option>
								<option value="en" selected>EN</option>
							</select>
						</li>
						<li>
							<a href="#" class="button convert-files"><i class="fas fa-upload"
									aria-hidden="true"></i>Convert</a>
						</li>
						<li>
							<a href="#" class="button open-progress"><i class="fa fa-tasks"
									aria-hidden="true"></i>Progress</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="body-container-wrapper">
	<div class="body-container">
		<div class="page-center">
			<i class="fa fa-sync" aria-hidden="true"></i>
			<h1 data-i18n="slogan">Simply convert your files</h1>
			<a class="upload" id="call-to-action"><span data-i18n="select.folder">Select folder</span></a>
			<form id="upload" method="post" action="upload.php" enctype="multipart/form-data">
				<div id="drop">
					<input type="file" webkitdirectory directory multiple name="upl" class="upload-hidden" />
				</div>
			</form>
			<div class="file-upload-bar">
				<div class="bar-wrapper">
					<div class="overall">
						<span>Selected files</span>
						<span class="close-button"><em class="fas fa-times "></em></span>
						<br>
						<span>Total file: <em id="total-file">0</em></span>
					</div>
					<div class="individual-files">
						<ul id="selected-files-list">
						</ul>
					</div>
				</div>
			</div>
			<div class="file-upload-bar-closed"></div>
		</div>
	</div>
</div>

<div class="footer-container-wrapper">
	<div class="footer-container">
		<div class="custom-footer-bg">
			<div class="page-center">
				<p>Serhat KAYA</p>
			</div>
		</div>
	</div>
</div>